APP_NAME=FastAPI dlt Lab
APP_ENV=dev
APP_PORT=8000

DLT_DATASET=raw_zone

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=raw_landing
POSTGRES_USER=lab
POSTGRES_PASSWORD=lab

SAMPLE_API_URL=https://jsonplaceholder.typicode.com/users
SAMPLE_TXT_PATH=data/sample.txt
SAMPLE_EXCEL_PATH=data/sample.xlsx
SAMPLE_CAMEL_MESSAGE_PATH=data/camel_message.txt

SOURCE_DB_PATH=data/source.db
SOURCE_DB_TABLES=customers,orders

OPENMETADATA_RELEASE_TAG=1.12.1-release
AIRFLOW_UID=50000

# Flyway utilise les variables POSTGRES_* ci-dessus via flyway/conf/flyway.toml
